* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;
  background-color: lightskyblue;
}

.intro_bg {
  background-image: url("./img/001.jpg");
  width: 100%;
  height: 718px;
}

.bg-1 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  background-image: url("./img/001.jpg");
  background-size: cover;
  width: 700px;
  height: 900px;
  margin-left: 400px;
}

.bg-2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  background-image: url("./img/002.jpg");
  background-size: cover;
  width: 700px;
  height: 900px;
  margin-left: 400px;
}

.bg-3 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  background-image: url("./img/003.jpg");
  background-size: cover;
  width: 700px;
  height: 900px;
  margin-left: 400px;
}

.bg-4 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  background-image: url("./img/004.jpg");
  background-size: cover;
  width: 700px;
  height: 900px;
  margin-left: 400px;
}

.header {
  display: flex;
  margin-top: 20px;
  height: 50px;
}

.contents {
  background-color: lightblue;
}

.searchArea {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-left: 0px;
  width: calc(1280px - 200px);
}

.nav > li {
  margin-left: 84px;
}

.footer {
  height: 50px;
}
